pipeline/pl_sql_to_adls_sales.json
{
	"name": "pl_sql_to_adls_sales",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "github_pipeline",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.firstRow.sources",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().source_name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "sales_sql",
										"activities": [
											{
												"name": "sql_to_adls",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@item().query",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "sql_ds",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "sql_csv_to_dl",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@activity('Lookup1').output.firstRow.adls.container",
																"type": "Expression"
															},
															"folder": {
																"value": "@concat(activity('Lookup1').output.firstRow.adls.base_path, '/', item().sink_folder)",
																"type": "Expression"
															},
															"file": {
																"value": "@concat('raw_', item().sink_folder, '.csv')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "products_api",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET"
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "product_from_http_to_dl",
														"type": "DatasetReference",
														"parameters": {
															"uri_p": {
																"value": "@item().url",
																"type": "Expression"
															},
															"relative_p": {
																"value": "@item().relative_path",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Json1",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@activity('Lookup1').output.firstRow.adls.container",
																"type": "Expression"
															},
															"folder": {
																"value": "@concat(activity('Lookup1').output.firstRow.adls.base_path, '/', item().sink_folder)",
																"type": "Expression"
															},
															"file": {
																"value": "@concat('raw_', item().sink_folder, '.json')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "currency_api",
										"activities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET"
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "http_Currency_to_dl",
														"type": "DatasetReference",
														"parameters": {
															"url_c": {
																"value": "@item().url",
																"type": "Expression"
															},
															"relative_c": {
																"value": "@item().relative_path",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Json2",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@activity('Lookup1').output.firstRow.adls.container",
																"type": "Expression"
															},
															"folder": {
																"value": "@concat(activity('Lookup1').output.firstRow.adls.base_path, '/', item().sink_folder)",
																"type": "Expression"
															},
															"file": {
																"value": "@concat('raw_', item().sink_folder, '.json')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-02T13:37:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}